.cardContainer {
  padding: 1rem;

  /* background-color: aquamarine; */
  position: relative;
  overflow: hidden;
}

.categppriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem
}

.chip {
  background-color: var(--bg-color-elevated);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  line-height: 1;
}


.rating1,
.rating2,
.rating3,
.rating4,
.rating5 {
  padding: 0.25rem;
  border-radius: 0.25rem;
  line-height: 1;

}

.rating1 {

  color: #F15B50
}

.rating2 {
  color: #F38A3F
}

.rating3 {

  color: #42B2D7
}

.rating4 {
  color: #2ABB7F;
}

.rating5 {
  color: #82B536;


}



.cover {
  /* border: 1px solid green; */
  /* height: min-content; */
  /* position: absolute;
  bottom: 0;
  right: 0px;
 

  transform: scale(0.3) rotate(0) translateY(112%) translatex(125%); */
  /* transform: scale(0.3); */
}