.card {
  border-radius: var(--border-radius-base);
  background-color: var(--bg-color-elevated);
}

.inverted {
  background-color: var(--bg-color-elevated-inverted);
}
.shadow {
  box-shadow: 0rem 0.25rem 3rem hsla(0, 0%, 0%, 0.1);
  box-shadow: 0rem 0.25rem 3rem
    color-mix(in srgb, var(--shadow-color-base) 10%, transparent);
}
