ul,
ol,
li {
  all: unset;
  line-height: 2rem;
}

.menuBar {
  border-bottom: 3px solid color-mix(in srgb, var(--brand-color-strong-subtle) 50%, transparent);
  padding: 1rem 0;
}

.menuItems {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.item {
  padding: 0.5rem 0.5rem;
  color: color-mix(in srgb, var(--fg-color-secondary) 50%, grey);

  &:hover {
    color: var(--brand-color-strong);
  }
}

.logoItem {
  padding: 0.5rem 0rem;
  padding-right: 1rem;
  color: var(--brand-color-strong);
  font-size: var(--font-size-h3);

  &:hover {
    color: color-mix(in srgb, var(--brand-color-strong) 70%, transparent)
  }
}

.activeLink {
  color: var(--fg-color-primary);
  /* Färg för den aktiva länken */
  font-weight: bold;
  /* Om du vill att den aktiva länken ska vara fetstil */
}