html {
  /* _____________________________________
  - - - T E X T S T O R L E K A R - - - */

  /* Storlekarna är standardstorlekar för rubriker baserat på rem storlek.
  Use case: Då en heading ska ha ett annat visuellt utseende än den ska semantiskt. Exempelvis h2 med visuell storlek av heading 3. */

  --font-size-base: 1rem;
  --font-size-h1: calc(var(--font-size-base) * 2);
  --font-size-h1-strong: calc(var(--font-size-base) * 3.2);
  --font-size-h2: calc(var(--font-size-base) * 1.5);
  --font-size-h3: calc(var(--font-size-base) * 1.17);
  --font-size-h4: var(--font-size-base);
  --font-size-h5: calc(var(--font-size-base) * 0.83);
  --font-size-h6: calc(var(--font-size-base) * 0.67);

  /* _______________________________________
  - - - - - - - F Ä R G E R - - - - - - - */

  --bg-color-base: #ffffff;
  --bg-color-elevated: #fafafa;

  --bg-color-base-inverted: #f6f6f6;
  --bg-color-elevated-inverted: #ffffff;

  --fg-color-primary: #141b23;
  --fg-color-secondary: #525252;

  --brand-color-strong: #169800;
  --brand-color-base: #4c8862;
  --brand-color-strong-subtle: #ebf6e8;
  --brand-color-base-subtle: #86bf93;

  --border-color-strong: hotpink;
  --border-color-subtle: hotpink;

  --shadow-color-base: black;

  /* _____________________________________
  - - - - - - - U N I T S - - - - - - - */

  /* border */
  --border-radius-base: 1rem;
  --border-radius-lg: 2rem;
  --border-radius-sm: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  html {
    /* _______________________________________
    - - - - - - - F Ä R G E R - - - - - - - */
    /* 
Taget från atlasian

https://images.ctfassets.net/8j5aqoy0ts8s/2pyzJIOTejrq1jM0QVA68l/7ea6ba1d6bb4dfee310fcb64d51eb3fa/dark-mode-light-mode.png

https://atlassian.design/foundations/color-new/color-palette-new
 */
    --bg-color-base: #161a1d;
    --bg-color-elevated: #161a1d;

    --bg-color-base-inverted: #22272b;
    --bg-color-elevated-inverted: #2c333a;

    --fg-color-primary: #dee4ea;
    --fg-color-secondary: color-mix(
      in srgb,
      var(--fg-color-primary) 80%,
      black
    );

    --brand-color-strong: hsl(111, 100%, 40%);
    --brand-color-base: hsl(142, 28%, 50%);
    --brand-color-strong-subtle: color-mix(
      in srgb,
      var(--brand-color-strong) 70%,
      black
    );
    --brand-color-base-subtle: color-mix(
      in srgb,
      var(--brand-color-base) 50%,
      black
    );

    --border-color-strong: hotpink;
    --border-color-subtle: hotpink;

    --shadow-color-base: black;
  }
}
