html {
  /* _____________________________________
  - - - T E X T S T O R L E K A R - - - */

  /* Storlekarna är standardstorlekar för rubriker baserat på rem storlek.
  Use case: Då en heading ska ha ett annat visuellt utseende än den ska semantiskt. Exempelvis h2 med visuell storlek av heading 3. */

  --font-size-base: 1rem;
  --font-size-h1: calc(var(--font-size-base) * 2);
  --font-size-h1-strong: calc(var(--font-size-base) * 3.2);
  --font-size-h2: calc(var(--font-size-base) * 1.5);
  --font-size-h3: calc(var(--font-size-base) * 1.17);
  --font-size-h4: var(--font-size-base);
  --font-size-h5: calc(var(--font-size-base) * 0.83);
  --font-size-h6: calc(var(--font-size-base) * 0.67);

  /* _______________________________________
  - - - - - - - F Ä R G E R - - - - - - - */

  --bg-color-base: #ffffff;
  --bg-color-elevated: #fafafa;

  --bg-color-base-inverted: #f6f6f6;
  --bg-color-elevated-inverted: #ffffff;

  --fg-color-primary: #141b23;
  --fg-color-secondary: #525252;

  --brand-color-strong: #169800;
  --brand-color-base: #4c8862;
  --brand-color-strong-subtle: #ebf6e8;
  --brand-color-base-subtle: #86bf93;

  --border-color-strong: #525252;
  --border-color-subtle: #525252;

  /* _____________________________________
  - - - - - - - U N I T S - - - - - - - */

  /* border */
  --border-radius-base: 1rem;
  --border-radius-lg: 2rem;
  --border-radius-sm: 0.5rem;
}
